PORT=8080

GOFLAGS=-tags=nomsgpack

PINECONE_API_KEY=your-pinecone-api-key
PINECONE_INDEX=embeddings
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1
PINECONE_NAMESPACE=default
PINECONE_DIMENSION=1536

OPENAI_API_KEY=your-openai-api-key
GEMINI_API_KEY=your-gemini-ai-key
